:root {
    --primary-color: #535353;
    --secondary-color: #000;
    --heading-font: Verdana, Geneva, Tahoma, sans-serif;
    --body-font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--primary-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 120px 1fr 1fr;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    max-width: 1000px;
    background-color: #ccc;
    color: black;
}

header img {
    width: 100px;
    height: auto;
}

header div {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 20px;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

section {
    display: grid;
    align-items: first baseline;
}

figure {
    display: flex;
    flex-flow: column;
    padding: 6px;
    width: 100px;
    height: auto;
}

/* -------------CSS class------------- */

.navigation {
    display: flex;
    list-style: none;
}

.navigation li {
    flex: 1 1 auto;
}

.navigation a {
    text-decoration: none;
    color: black;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--secondary-color);
    color: white;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    padding: 6px;
    right: 4px;
    bottom: 4px;
    width: 200px;
    background-color: bisque;
}

.hero article img {
    float: right;
    width: 100%;
    height: auto;
}

.hero article p {
    margin: 0;
    padding: 4px;
    font-size: 14px;
}

.history {
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

}

.history_hero {
    display: flex;
    justify-content: space-evenly;
}

.history_hero img {
    width: auto;
    height: 130px;
}

.history_hero p {
    margin: 0;
    padding: 0 auto;
}

.adventure div {
    display: flex;
    width: 400px;
    height: auto;
    justify-content: space-evenly;
}