* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: 600px;
}

main img {
    float: right;
    width: 200px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

aside {
    position: relative;
    max-width: 600px;
}

aside h2 {
    position: absolute;
    top: 10%;
    left: 25px;
    color: blue;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 20px;
    border-top: 1px solid black;
    text-align: center;
}

/* CSS class selectors */

.box {
    margin: 1rem;
    border: 1rem;
    padding: 1rem;
    background-color: lightgray;
    color: black;
}